## Problem statement - 1

# Perform sentimental analysis on the Elon-musk tweets (Exlon-musk.csv)

In [1]:
#Import Libraries
import re
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("Elon_musk.csv",encoding='unicode_escape')

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 96FF-6D42

 Directory of C:\Users\radhi\Desktop\Assignments\Assignments of Radhika\Assignment no11 (Text Mining)

18-02-2023  14:30    <DIR>          .
18-02-2023  14:30    <DIR>          ..
18-02-2023  14:30    <DIR>          .ipynb_checkpoints
04-01-2023  00:06               211 Assignment (1).txt
14-12-2022  14:52           170,848 Elon_musk.csv
14-12-2022  14:52            46,299 negative-words.txt
14-12-2022  14:52            20,630 positive-words.txt
14-12-2022  14:52             4,158 stop.txt
09-02-2023  16:51            44,368 Text Mining.ipynb
05-01-2023  16:18           391,626 Text_Mining_Amazon_Product _Review.ipynb
               7 File(s)        678,140 bytes
               3 Dir(s)  35,594,076,160 bytes free

In [4]:
df

      Unnamed: 0                                               Text
0              1                             @kunalb11 Im an alien
1              2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2              3                @joerogan @Spotify Great interview!
3              4                    @gtera27 Doge is underestimated
4              5  @teslacn Congratulations Tesla China for amazi...
...          ...                                                ...
1994        1995  @flcnhvy True, it sounds so surreal, but the n...
1995        1996  @PPathole Make sure to read ur terms &amp; con...
1996        1997                @TeslaGong @PPathole Samwise Gamgee
1997        1998  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998        1999                          Progress update August 28

[1999 rows x 2 columns]

# Performing EDA

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1999 non-null   int64
 1   Text        1999 non-null   object
dtypes: int64(1), object(1)
memory usage: 31.4+ KB

In [6]:
df.isna().sum()

Unnamed: 0    0
Text          0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df=df.drop(columns=('Unnamed: 0'),axis=1)

In [9]:
df

                                                   Text
0                                @kunalb11 Im an alien
1     @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2                   @joerogan @Spotify Great interview!
3                       @gtera27 Doge is underestimated
4     @teslacn Congratulations Tesla China for amazi...
...                                                 ...
1994  @flcnhvy True, it sounds so surreal, but the n...
1995  @PPathole Make sure to read ur terms &amp; con...
1996                @TeslaGong @PPathole Samwise Gamgee
1997  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998                          Progress update August 28

[1999 rows x 1 columns]

# Preprocessing

# Step 1 Removing Spaces and Symbols

In [10]:
df.Text=df.Text.apply(lambda x: re.sub('[^a-zA-Z ]', "", x))

In [11]:
df

                                                   Text
0                                    kunalb Im an alien
1     IDAACarmack Ray tracing on Cyberpunk with HDR ...
2                      joerogan Spotify Great interview
3                          gtera Doge is underestimated
4     teslacn Congratulations Tesla China for amazin...
...                                                 ...
1994  flcnhvy True it sounds so surreal but the nega...
1995  PPathole Make sure to read ur terms amp condit...
1996                  TeslaGong PPathole Samwise Gamgee
1997             PPathole Altho Dumb and Dumber is UFUF
1998                            Progress update August

[1999 rows x 1 columns]

# Step 2 Making Text To Lower

In [12]:
df.Text=df.Text.apply(lambda x: x.lower())

In [13]:
df

                                                   Text
0                                    kunalb im an alien
1     idaacarmack ray tracing on cyberpunk with hdr ...
2                      joerogan spotify great interview
3                          gtera doge is underestimated
4     teslacn congratulations tesla china for amazin...
...                                                 ...
1994  flcnhvy true it sounds so surreal but the nega...
1995  ppathole make sure to read ur terms amp condit...
1996                  teslagong ppathole samwise gamgee
1997             ppathole altho dumb and dumber is ufuf
1998                            progress update august

[1999 rows x 1 columns]

# Step 3 Splitting The Words From Line

In [14]:
df.Text=df.Text.apply(lambda x: x.split())

In [15]:
df

                                                   Text
0                               [kunalb, im, an, alien]
1     [idaacarmack, ray, tracing, on, cyberpunk, wit...
2                 [joerogan, spotify, great, interview]
3                     [gtera, doge, is, underestimated]
4     [teslacn, congratulations, tesla, china, for, ...
...                                                 ...
1994  [flcnhvy, true, it, sounds, so, surreal, but, ...
1995  [ppathole, make, sure, to, read, ur, terms, am...
1996             [teslagong, ppathole, samwise, gamgee]
1997     [ppathole, altho, dumb, and, dumber, is, ufuf]
1998                         [progress, update, august]

[1999 rows x 1 columns]

# Step 4: Removing Stop Words

In [16]:
import nltk  
nltk.download('stopwords') 
from nltk.corpus import stopwords  
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\radhi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [17]:
stopwords.words("english")

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [18]:
df.Text=df.Text.apply(lambda x: [word  for word in x if word not in set(stopwords.words('english'))])

In [19]:
df

                                                   Text
0                                   [kunalb, im, alien]
1     [idaacarmack, ray, tracing, cyberpunk, hdr, ne...
2                 [joerogan, spotify, great, interview]
3                         [gtera, doge, underestimated]
4     [teslacn, congratulations, tesla, china, amazi...
...                                                 ...
1994  [flcnhvy, true, sounds, surreal, negative, pro...
1995  [ppathole, make, sure, read, ur, terms, amp, c...
1996             [teslagong, ppathole, samwise, gamgee]
1997              [ppathole, altho, dumb, dumber, ufuf]
1998                         [progress, update, august]

[1999 rows x 1 columns]

# Step 5 Stemming

In [20]:
ps=PorterStemmer()
df.Text=df.Text.apply(lambda x: [ps.stem(word) for word in x])

In [21]:
df

                                                   Text
0                                   [kunalb, im, alien]
1     [idaacarmack, ray, trace, cyberpunk, hdr, next...
2                 [joerogan, spotifi, great, interview]
3                             [gtera, doge, underestim]
4     [teslacn, congratul, tesla, china, amaz, execu...
...                                                 ...
1994  [flcnhvi, true, sound, surreal, neg, propagand...
1995  [ppathol, make, sure, read, ur, term, amp, con...
1996                [teslagong, ppathol, samwis, gamge]
1997               [ppathol, altho, dumb, dumber, ufuf]
1998                          [progress, updat, august]

[1999 rows x 1 columns]

# Step 6 Rejoining

In [22]:
df.Text=df.Text.apply(lambda x: " ".join(x))

In [23]:
df

                                                   Text
0                                       kunalb im alien
1     idaacarmack ray trace cyberpunk hdr nextlevel tri
2                      joerogan spotifi great interview
3                                 gtera doge underestim
4     teslacn congratul tesla china amaz execut last...
...                                                 ...
1994  flcnhvi true sound surreal neg propaganda stil...
1995  ppathol make sure read ur term amp condit clic...
1996                     teslagong ppathol samwis gamge
1997                     ppathol altho dumb dumber ufuf
1998                              progress updat august

[1999 rows x 1 columns]

# Sentiment Analysis

In [24]:
from textblob import TextBlob
df['sentiment'] = df['Text'].apply(lambda x: TextBlob(x).sentiment[0] )
df[['Text','sentiment']].head()

                                                Text  sentiment
0                                    kunalb im alien      -0.25
1  idaacarmack ray trace cyberpunk hdr nextlevel tri       0.00
2                   joerogan spotifi great interview       0.80
3                              gtera doge underestim       0.00
4  teslacn congratul tesla china amaz execut last...       0.00